/* =============
    Section 3
============= */
#section-3{

    aside{
        img{
            width: 100%;
        }
    }

    #section-3-container{
        
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3 .";

        @include md{
            grid-template-columns: 8% auto 8%;
        }
            
        #section-3-content{
            grid-area: section-3;
            // border: 1px solid red;
        }
    }
}