/* =============
    Section 2
============= */

#section-2{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-2 .";

    #section-2-content{
        grid-area: section-2;

        #section-2-intro{
            @include md{
                display: grid;
                grid-template-columns: 15% auto 15%;
                grid-template-areas: ". section-2-intro .";
            }

            #section-2-intro-content{
                @include md{
                    grid-area: section-2-intro;
                }
            }
        }

        #section-2-date{
            @include md{
                display: grid;
                grid-template-columns: 10% auto 10%;
                grid-template-areas: ". section-2-date .";
            }

            #section-2-date-content{
                @include md{
                    grid-area: section-2-date;
                }
            }
        }
    }


}