/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 6% auto 6%;
    grid-template-areas: ". footer .";
    #footer-content{
        grid-area: footer;
    }
}
